<sly data-sly-test.hasTitle="${properties.title}">
    <div class="aem-practice" data-sly-use.AemPracticeModel="com.adobe.aem.wknd.core.models.AemPracticeModel">
        <h1>Page Title: ${currentPage.title}</h1>
        <p>Path: ${currentPage.path}</p>

        <h1>Dialog Title: ${properties.title}</h1>
        <sly data-sly-test="${AemPracticeModel.backgroundImage && !wcmmode.edit && !wcmmode.preview}">
            <img src="${AemPracticeModel.imagePath}">
        </sly>
        
        <sly data-sly-list="${AemPracticeModel.navigationItems}"
            var="item" begin="0" end="${AemPracticeModel.navigationItems.size}">
            <div data-sly-test="${itemList.first}">
                <b>${item.title}</b><br>
                <b>${item.path}</b>
            </div>
            <!-- Check if it's the last item and apply italic style -->
            <div data-sly-test="${itemList.last}">
                <i>${item.title}</i><br>
                <i>${item.path}</i>
            </div>
            <!-- If it's neither first nor last, render normally -->
            <div data-sly-test="${!itemList.first && !itemList.last}">
                ${item.title}<br>
                ${item.path}
            </div>
        </sly>
        <sly data-sly-test="${wcmmode.edit}">
            <p>Author mode.</p>
        </sly>
    </div>
</sly>
<sly data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasTitle}"></sly>
